* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  font-family: "Inter Tight", sans-serif;
  text-decoration: none;
}

h1 {
  font-family: "Anton", sans-serif;
}

img {
  width: 100%;
}

.fade-out {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.rec-carousel-wrapper {
  background-color: transparent;
}

.rec-carousel-wrapper button {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.kXteup,
.hGRYOm {
  background-color: transparent;
}

.kXteup:hover:enabled,
.kXteup:focus:enabled,
.hGRYOm:hover:enabled,
.hGRYOm:focus:enabled {
  color: white !important;
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 0 !important;
          box-shadow: 0 0 0 0 !important;
}

/* square buttons */
.rec.rec-arrow {
  border-radius: 0;
}

/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 51%;
}

/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}

/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 1px 1px lightgrey;
          box-shadow: inset 0 0 1px 1px lightgrey;
}

.main__title__error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
}

.main__title__error h1,
.main__title__error p {
  color: white;
  font-weight: 500;
}

.main__title__error img {
  width: 10rem;
  margin: 2rem 0;
}

body {
  background-color: #1f2334;
  position: relative;
  overflow: auto;
  overscroll-behavior: auto;
}

@media (min-width: 1024px) {
  body {
    padding: 1rem 7rem;
  }
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

.bg img {
  opacity: 0.15;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .bg img {
    height: 50vh;
  }
}

.menu__mobile {
  position: absolute;
  top: 5rem;
  right: 3rem;
  -webkit-box-shadow: 0 0 1px 1px #a4a2b0;
          box-shadow: 0 0 1px 1px #a4a2b0;
  padding: 0.3rem;
  border-radius: 0.4rem;
  -webkit-transform: translateY(-20rem);
          transform: translateY(-20rem);
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .menu__mobile {
    display: none;
  }
}

.menu__mobile.show__menu {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  opacity: 1;
}

.menu__mobile nav {
  background: #1f2334;
  padding: 0.7rem;
  border-radius: 0.4rem;
}

.menu__mobile nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__mobile nav ul .link {
  margin: 0.8rem 0;
}

.menu__mobile nav ul .link:hover li,
.menu__mobile nav ul .link:hover svg {
  color: white;
}

.menu__mobile nav ul .link.selected li,
.menu__mobile nav ul .link.selected svg {
  color: white;
}

.menu__mobile nav ul .link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.4rem;
}

.menu__mobile nav ul .link li,
.menu__mobile nav ul .link svg {
  font-size: 1rem;
  color: #a4a2b0;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.menu__mobile nav ul .link li {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

header {
  padding: 1rem;
}

header .header__menu__mobile {
  margin: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  header .header__menu__mobile {
    display: none;
  }
}

header .header__menu__mobile .header__logo img {
  width: 3rem;
}

@media (min-width: 768px) {
  header .header__menu__mobile .header__menu__icon {
    display: none;
  }
}

header .header__menu__mobile .header__menu__icon svg {
  font-size: 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #a4a2b0;
}

header .header__menu__mobile .header__menu__icon svg:hover {
  color: white;
}

header .header__menu__desktop {
  display: none;
  margin: 1rem 2rem;
}

@media (min-width: 768px) {
  header .header__menu__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .header__menu__desktop .header__logo img {
  width: 3rem;
}

@media (min-width: 768px) {
  header .header__menu__desktop .header__menu__icon {
    display: none;
  }
}

header .header__menu__desktop .header__menu__icon svg {
  font-size: 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #a4a2b0;
}

header .header__menu__desktop .header__menu__icon svg:hover {
  color: white;
}

header .header__menu__desktop .menu__desktop nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

header .header__menu__desktop .menu__desktop nav ul .link {
  margin: 0.8rem 0;
}

header .header__menu__desktop .menu__desktop nav ul .link:hover li,
header .header__menu__desktop .menu__desktop nav ul .link:hover svg {
  color: white;
}

header .header__menu__desktop .menu__desktop nav ul .link.selected li,
header .header__menu__desktop .menu__desktop nav ul .link.selected svg {
  color: white;
}

header .header__menu__desktop .menu__desktop nav ul .link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.4rem;
}

header .header__menu__desktop .menu__desktop nav ul .link li,
header .header__menu__desktop .menu__desktop nav ul .link svg {
  font-size: 1rem;
  color: #a4a2b0;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

header .header__menu__desktop .menu__desktop nav ul .link li {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

main.weapons__scss {
  margin: 1rem 2rem;
}

main.weapons__scss .main__title h1 {
  font-family: "Inter Tight", sans-serif;
  color: white;
  letter-spacing: 1px;
  font-size: 1.8rem;
}

@media (min-width: 1030px) {
  main.weapons__scss .main__title h1 {
    font-size: 3rem;
  }
}

main.weapons__scss .main__title p {
  color: #6f72ca;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

main.weapons__scss .main__weapons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

main.weapons__scss .main__weapons .main__weapon {
  height: 10rem;
  width: 16rem;
  margin: 1rem 0;
}

main.weapons__scss .main__weapons .main__weapon .main__weapon__bg {
  position: relative;
}

main.weapons__scss .main__weapons .main__weapon .main__weapon__bg img.bg__image {
  z-index: -10;
  opacity: 0.5;
  border-radius: 0.7rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

main.weapons__scss .main__weapons .main__weapon .main__weapon__bg .main__weapon__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

main.weapons__scss .main__weapons .main__weapon .main__weapon__bg .main__weapon__icon img {
  width: 11rem;
}

main.weapons__scss .main__weapons .main__weapon .main__weapon__bg .main__weapon__icon img:nth-child(1) {
  width: 13rem;
}

main.weapons__scss .main__weapons .main__weapon .main__weapon__title {
  position: absolute;
  left: 0.8rem;
  bottom: 2rem;
  z-index: 10;
}

main.weapons__scss .main__weapons .main__weapon .main__weapon__title h1 {
  color: white;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-family: "Inter Tight", sans-serif;
}
/*# sourceMappingURL=weapons.css.map */