.main__weapons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .main__weapon {
    height: 10rem;
    width: 16rem;
    margin: 1rem 0;
    display: none;
    visibility: hidden;
    cursor: pointer;
    border-radius: 0.8rem;
    z-index: 10;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: rgba(128, 0, 128, 0.3);
    }

    &:hover .main__weapon__icon img {
      transform: scale(1.1);
      filter: drop-shadow(0 0 2px 2px black);
    }

    @media (min-width: 375px) {
      width: 20rem;
    }

    @media (min-width: 1024px) {
      width: 18rem;
    }

    @media (min-width: 1200px) {
      width: 21rem;
    }

    @media (min-width: 1440px) {
      width: 22rem;
    }

    &.show {
      display: block;
      visibility: visible;
    }

    .main__weapon__bg {
      position: relative;
      img.bg__image {
        z-index: -10;
        opacity: 0.5;
        border-radius: 0.7rem;
        object-fit: cover;
        -webkit-mask-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(rgba(0, 0, 0, 1)),
          to(rgba(0, 0, 0, 0))
        );
        mask-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0)
        );
      }

      .main__weapon__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        img {
          width: 11rem;
          transition: all 0.3s ease-in-out;

          &:nth-child(1) {
            width: 13rem;
          }
        }
      }
    }

    .main__weapon__title {
      position: absolute;
      left: 0.8rem;
      top: 0.8rem;
      z-index: 10;
      h1 {
        color: white;
        font-size: 1.3rem;
        letter-spacing: 1px;
        font-family: "Inter Tight", sans-serif;
      }
    }
  }
}
